body {
    background-color: antiquewhite;
}
#header {
    background-color: brown;
    border-radius: 10px;
    color: antiquewhite;
}
#header h1 {
    padding: 10px;
    font-family: 'Patrick Hand', cursive; 
    font-size: 70px;
}
#header h5 {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
.flex-container-list {
    display: flex;
    flex-direction: row;
}
.flex-container-photo {
    width:100%;
    display:inline-flex;
}
span {
    background-color: brown;
    color: antiquewhite;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    border-radius: 5px;
}
span:hover {
    background-color:antiquewhite;
    color:brown;
}
#part1 {
    height: 100%;
    width: 50%;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgba(254, 251, 251, 0.8);
    color: brown;
    font-family: 'Patrick Hand', cursive;
    display: inline-block;
}
#part2 {
    height: 100%;
    width: 50%;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(254, 251, 251, 0.8);
    color: brown;
    font-family: 'Patrick Hand', cursive; 
}
#FEED {
    border:0;
    background-color:brown;
    color: antiquewhite;
    border-radius:10px;
    cursor:pointer;
}
#FEED:hover {
    color: brown;
    background-color:antiquewhite;
    border:2px brown solid;
}

.cat-container {
    position: absolute;
}
.styleFeed {
    width: 50%;
}